@model MyMath

@{
    ViewData["Title"] = "Home Page";
}


<div>welcome to my first dotnet  project deploying in production</div>
<div>this is my first yaml pipeline</div>
<div>CI/CD triggers are enabled for automatic build and Deployments</div>
